@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer components {
  .bg-lightGradient {
    @apply bg-gradient-to-r from-dev-aqua to-dev-violet
  }
  .bg-darkGradient {
    @apply bg-gradient-to-r from-dev-blue to-dev-night
  }
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Thin'), url(./assets/fonts/Poppins-Thin.ttf) format('ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-ExtraLight'), url(./assets/fonts/Poppins-ExtraLight.ttf) format('ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Light'), url(./assets/fonts/Poppins-Light.ttf) format('ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Regular'), url(./assets/fonts/Poppins-Regular.ttf) format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Medium'), url(./assets/fonts/Poppins-Medium.ttf) format('ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-SemiBold'), url(./assets/fonts/Poppins-SemiBold.ttf) format('ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Bold'), url(./assets/fonts/Poppins-Bold.ttf) format('ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-ExtraBold'), url(./assets/fonts/Poppins-ExtraBold.ttf) format('ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Black'), url(./assets/fonts/Poppins-Black.ttf) format('ttf');
  font-weight: 900;
}